/*
Filename: project.css
Author: Jonas Van der Reysen
*/

/* Gemeenschappelijke opmaak */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  background-color: #edeaea;

  /* Margin & padding */
  margin: 0;

  /* Font */
  font-family: "Roboto", sans-serif;
}

body:not(#productoverzicht) {
  /* Grids */
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    "header"
    "pageContent";
  grid-template-rows: 0.125fr auto;
}

body.row-gap {
  row-gap: 25px;
}

main {
  grid-area: pageContent;

  /* Margin & padding */
  margin-bottom: 20px;
  padding: 0 25px 0 20px;
}

/* Navbar */
nav {
  background-color: #333;
  grid-area: header;
  height: 52px;

  /* Margin & padding */
  padding: 0;
}

.logo {
  height: 100%;
}

ul {
  display: inline-block;
  list-style: none;

  /* Margin & padding */
  margin: 0;
  padding: 0;
}

li {
  display: block;
  float: left;
  position: relative;
  transition-duration: 0.5s;

  /* Margin & padding */
  padding: 1rem;
}

li a {
  color: white;
  text-decoration: none;
}

li:hover {
  background: rgb(148, 147, 147);
  cursor: pointer;
}

li.active {
  background-color: rgb(83, 83, 83);
}

ul li ul {
  background: #333;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  display: none;

  /* Margin & padding */
  margin-top: 1rem;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

/* Styling */
h1 {
  display: none;
}

nav h2 {
  display: none;
}

/* Home - index.html */
.home {
  display: grid;

  column-gap: 2vw;
  grid-template-areas: "product testimonials";
  grid-template-columns: 1fr 1fr;
}

#product {
  /* Grid item */
  grid-area: product;

  /* Grid container */
  display: grid;
  grid-template-areas:
    "overProduct"
    "overMezelf"
    "overKeuze";

  background: #d8d8d8;
  border-radius: 10px;

  /* Margin & padding */
  padding: 25px 25px 10px;
}

.overProduct {
  /* Grid item */
  grid-area: overProduct;

  /* Grid container */
  display: grid;
  grid-template-areas: "productImage productTitle";
  grid-template-columns: 1fr 2fr;
  column-gap: 25px;
}

.productImage {
  grid-area: productImage;

  width: 100%;
  border-radius: 10px;
}

.productTitle {
  grid-area: productTitle;

  /* Margin & padding */
  margin-top: 5px;

  /* Other styling */
  text-align: left;
}

.productText {
  grid-area: productTitle;

  /* Margin & padding */
  margin-top: 45px;
}

.overMezelf {
  grid-area: overMezelf;
}

.overKeuze {
  grid-area: overKeuze;
}

.testimonials {
  /* Grid item */
  grid-area: testimonials;
}

.testimonial {
  background-color: white;
  box-shadow: 5px 5px 5px 0 rgb(187, 186, 186);
  border-radius: 10px;

  /* Margin & padding */
  padding: 10px 5px 5px 15px;
  margin: 30px 15px 30px 5px;
}

.testimonialName {
  font-style: normal;
  display: inline;
  font-weight: 600;

  /* Margin & padding */
}

.testminonialRating {
  display: inline;

  /* Margin & padding */
  margin-left: 10px;
}

.product h2 {
  display: none;
}

/* Contacteer ons - contact.html */
main.contact {
  display: grid;

  grid-template-areas: "contactInfo kaart";
  grid-template-columns: 1fr 1fr;
  row-gap: 25px;

  /* Margin & padding */
  margin: 0;
  padding: 0;
}
.contactInfo {
  grid-area: contactInfo;
  border: none;

  /* Margin & padding */
  padding: 0 0 0 20px;
}
.kaart {
  grid-area: kaart;
}
.kaart iframe {
  width: 100%;
  height: 99%;
  border: none;

  /* Margin & padding */
  padding: 0;
}
.contactInfo dl {
  background: #d8d8d8;
  border-radius: 10px;
  
  /* Margin & padding */
  margin: 0 25px 10px 0;
  padding: 10px;
}
.contactInfo dt {
  font-weight: 700;
  width: 50%;

  /* Margin & padding */
  padding: 0;
  margin: 0;
}
.contactInfo dd {
  width: 50%;

  /* Margin & padding */
  padding: 0;
  margin: 0 0 10px 0;
}
.kaart h2 {
  display: none;
}

/* FAQ - faq.html */
.faq-items {
  display: flex;
  flex-flow: row wrap;

  background: #d8d8d8;

  border: solid #d8d8d8;
  border-radius: 10px;
}
.question {
  flex-basis: 20%;

  background: #d8d8d8;
  border-bottom: 1px solid rgb(243, 242, 242);

  font-weight: 600;

  /* Margin & padding */
  padding: 7px;
}
.answer {
  flex-basis: 70%;
  flex-grow: 1;
  border-bottom: 1px solid rgb(243, 242, 242);
  
  /* Margin & padding */
  margin: 0;
  padding: 7px;
}
.question.no-bottom-border,
.answer.no-bottom-border {
  border-bottom: none;
}

/* Productoverzicht - productoverzicht.html */
#productoverzicht {
  /* Grids */
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    "header header"
    "filter producten";
  grid-template-rows: 0.125fr auto;
  grid-template-columns: 2.6fr 8fr;

  /* Margin & padding */
  margin: 0;

  /* Font */
  font-family: "Roboto", sans-serif;
}

#filter {
  grid-area: filter;

  /* Margin & padding */
  padding: 0 25px 0 25px;
}

.filterLabel {
  background-color: white;
  border-radius: 5px;
  cursor: pointer;

  /* Margin & padding */
  padding: 10px;
}

label {
  display: block;

  /* Margin & padding */
  margin-bottom: 5px;
}

.dropdown {
  margin-bottom: 10px;
}

#producten {
  /* Grid item */
  grid-area: producten;
}

#producten > section {
  /* Grid container */
  display: grid;
  grid-template-areas:
    "titel"
    "elektrisch"
    "benzine"
    "lpg";
}

#productenTitel {
  grid-area: titel;
}

#elektrisch {
  /* Grid item */
  grid-area: elektrisch;
}

#benzine {
  /* Grid item */
  grid-area: benzine;
}

#lpg {
  /* Grid item */
  grid-area: lpg;
}

.productCategory > h3 {
  margin-bottom: 0;
}

.productLink {
  display: inline-block;
  width: 260px;
  height: 60px;

  text-decoration: none;
  color: black;

  /* Margin & padding */
  margin-right: 10px;
  margin-bottom: 10px;
}

.product {
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0 rgb(187, 186, 186);

  width: 100%;
  height: 100%;
}

.productThumbnail {
  position: relative;
  float: left;

  height: 80%;
  top: 10%;

  border-radius: 10px;

  /* Margin & padding */
  margin-left: 12px;
  margin-right: 15px;
}

.productName {
  /* Margin & padding */
  margin-bottom: 5px;
  padding-top: 10px;
}

.productPrice {
  margin: 0;
}

/* Filter voor zwart */
input[type="radio"][id="zwart"]:checked ~ section a.bruin,
input[type="radio"][id="zwart"]:checked ~ section a.grijs {
  display: none;
}

/* Filter voor grijs */
input[type="radio"][id="grijs"]:checked ~ section a.zwart,
input[type="radio"][id="grijs"]:checked ~ section a.bruin {
  display: none;
}

/* Filter voor bruin */
input[type="radio"][id="bruin"]:checked ~ section a.zwart,
input[type="radio"][id="bruin"]:checked ~ section a.grijs {
  display: none;
}

/* Filter voor leer */
input[type="radio"][id="leer"]:checked ~ section a.kunstleer,
input[type="radio"][id="leer"]:checked ~ section a.kunststof {
  display: none;
}

/* Filter voor kunstleer */
input[type="radio"][id="kunstleer"]:checked ~ section a.leer,
input[type="radio"][id="kunstleer"]:checked ~ section a.kunststof {
  display: none;
}

/* Filter voor kunststof */
input[type="radio"][id="kunststof"]:checked ~ section a.kunstleer,
input[type="radio"][id="kunststof"]:checked ~ section a.leer {
  display: none;
}

/* Productdetails - detail-xxx.html */
#productdetails {
  /* Grids */
  display: grid;
  grid-template-areas:
    "hoofdInfo afbeelding"
    "extraInfo afbeelding";
  grid-template-rows: 3fr 5fr;
  grid-template-columns: 5fr 5fr;

  /* Margin & padding */
  margin: 0;

  /* Font */
  font-family: "Roboto", sans-serif;
}

#hoofdInfo {
  grid-area: hoofdInfo;
}

#extraInfo {
  grid-area: extraInfo;
}

.tabSwitcherLabel {
  background: rgb(218, 218, 218);
  display: inline-block;
  width: calc(50% - 12px);

  border-radius: 10px 10px 0 0;
  text-align: center;
  font-weight: 600;

  cursor: pointer;

  /* Margin & padding */
  margin-top: 15px;
  margin-bottom: 0;
  padding: 5px;
}

/* Tabswitcher - labels kleuren */
input[type="radio"][id="switch-beschrijving"]:checked + label {
  background-color: white;
}

input[type="radio"][id="switch-eigenschappen"]:checked + label {
  background-color: white;
}

/* Tabswitcher - hide non-selected tab */
input[type="radio"][id="switch-beschrijving"]:checked ~ #eigenschappen {
  display: none;
}
input[type="radio"][id="switch-eigenschappen"]:checked
  ~ #uitgebreideBeschrijving {
  display: none;
}

#uitgebreideBeschrijving,
#eigenschappen {
  background-color: white;
  border-radius: 0 0 10px 10px;

  /* Margin & padding */
  padding: 5px 20px 20px 20px;
}

tr td:first-child {
  font-weight: 600;

  /* Margin & padding */
  padding-right: 30px;
}

#afbeelding {
  grid-area: afbeelding;

  display: flex;
  justify-content: center;
  align-items: center;
}

#afbeelding img {
  max-width: 100%;
  max-height: 50%;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgb(187, 186, 186);
  background-color: white;
}

/* Bestelpagina - personalisering.html */
#bestelFormulier {
  display: grid;

  grid-template-areas: "klantGegevens personalisatie";
  grid-template-columns: 5fr 5fr;

  /* Margin & padding */
  margin-top: 0;
}

#bestelFormulier .required:after {
  content: " *";
  color: red;
}

.bestelKolom {
  border: none;

  /* Margin & padding */
  margin: 0 10px 0 10px;
}

.bestelKolom legend {
  background: white;
  border-radius: 10px;
  font-weight: 900;
  font-size: large;
  width: 98%;

  /* Margin & padding */
  margin-top: 0;
  padding: 10px;
}

.bestelKolom input {
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px 0 rgb(187, 186, 186);

  /* Margin & padding */
  padding: 0 10px 0 10px;
}

#klantgegevens {
  /* Grid item */
  grid-area: klantGegevens;

  /* Grid display */
  display: grid;
  grid-template-areas:
    "heading heading"
    "lblVoornaam lblAchternaam"
    "txtVoornaam txtAchternaam"
    "lblEmail lblEmail"
    "txtEmail txtEmail"
    "lblTelnr lblTelnr"
    "txtTelnr txtTelnr"
    "lblLeverdatum lblLeverdatum"
    "dtLeverdatum dtLeverdatum"
    "lblStraatnaam lblStraatnaam"
    "txtStraatnaam txtStraatnaam"
    "lblPostcode lblGemeente"
    "txtPostcode txtGemeente"
    "lblLand lblLand"
    "txtLand txtLand"
    "inputHelpland inputHelpland";

  grid-template-rows: repeat(15, 1.3fr);
  column-gap: 20px;

  height: 75vh;
}

#klantgegevens > h3 {
  grid-area: heading;
}

#lblVoornaam {
  grid-area: lblVoornaam;

  /* Margin & padding */
  margin-top: 0;
}

#lblAchternaam {
  grid-area: lblAchternaam;

  /* Margin & padding */
  margin-top: 0;
}

#txtVoornaam {
  grid-area: txtVoornaam;
}

#txtAchternaam {
  grid-area: txtAchternaam;
}

#lblEmail {
  grid-area: lblEmail;
}

#txtEmail {
  grid-area: txtEmail;
}

#lblTelnr {
  grid-area: lblTelnr;
}

#txtTelnr {
  grid-area: txtTelnr;
}

#lblLeverdatum {
  grid-area: lblLeverdatum;
}

#dtLeverdatum {
  grid-area: dtLeverdatum;
}

#lblStraatnaam {
  grid-area: lblStraatnaam;
}

#txtStraatnaam {
  grid-area: txtStraatnaam;
}

#lblPostcode {
  grid-area: lblPostcode;
}

#lblGemeente {
  grid-area: lblGemeente;
}

#txtPostcode {
  grid-area: txtPostcode;
}

#txtGemeente {
  grid-area: txtGemeente;
}

#lblLand {
  grid-area: lblLand;
}

#txtLand {
  grid-area: txtLand;
}

#inputHelpland {
  grid-area: inputHelpland;
  color: rgb(83, 83, 83);
  font-size: small;

  /* Margin & padding */
  margin-top: 5px;
}

#personalisatie {
  grid-area: personalisatie;
}

.selectMarkup {
  background: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgb(187, 186, 186);

  /* Margin & padding */
  padding: 5px;
}

.selectMarkup:focus {
  border-radius: 10px 10px 0px 0px;
}

.kleurCirkel {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#kleurKiezerRood {
  background-color: red;
}

#kleurKiezerGeel {
  background-color: yellow;
}

#kleurKiezerGroen {
  background-color: green;
}

input[type="radio"][id="rood"]:checked + label {
  border: 2px solid black;
}
input[type="radio"][id="geel"]:checked + label {
  border: 2px solid black;
}
input[type="radio"][id="groen"]:checked + label {
  border: 2px solid black;
}

.radioPill {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgb(187, 186, 186);
  cursor: pointer;

  /* Margin & padding */
  margin-right: 10px;
  padding: 5px 10px;
}

input[type="radio"][name="snelheid"]:checked + label {
  border: 2px solid #a5a5a5;
}

button[type="submit"] {
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgb(187, 186, 186);
  background: rgb(147, 250, 147);
  border: none;
  cursor: pointer;

  /* Margin & padding */
  padding: 5px 20px;
}

button[type="submit"]:hover {
  background: #7b9b6d;
}

/* Bestelpagina - checkboxes */
/* The container */
.checkboxContainer {
  display: block;
  position: relative;
  cursor: pointer;

  /* Margin & padding */
  padding-left: 35px;
  margin-bottom: 12px;
}

.checkboxContainer input {
  display: none;
}

.checkboxContainer:hover input ~ .checkbox {
  background-color: rgba(255, 255, 255, 0.505);
}

/* Create a custom checkbox */
.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  box-shadow: 0 0 5px 0 rgb(187, 186, 186);
  border-radius: 5px;
}

.checkboxContainer input:checked ~ .checkbox {
  background-color: #747474;
}

.checkbox:after {
  content: "";
  position: absolute;
  display: none;

  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkboxContainer input:checked ~ .checkbox:after {
  display: block;
}

/* Overrides */
.no-top-margin {
  margin-top: 0;
}

.mt-10px {
  /* Margin & padding */
  margin-top: 10px;
}

.mt-20px {
  /* Margin & padding */
  margin-top: 20px;
}

.mb-5px {
  /* Margin & padding */
  margin-bottom: 5px;
}

.hide {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: none;
}

.bolt {
  font-weight: 600;
}
