/*
Filename: project.css
Author: Jonas Van der Reysen
*/

/* Gemeenschappelijke opmaak */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  background-color: #edeaea;

  /* Margin & padding */
  margin: 0;

  /* Font */
  font-family: "Roboto", sans-serif;
}

body:not(#productoverzicht):not(#nieuwecollectie) {
  /* Grids */
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header"
    "pageContent";
  grid-template-rows: 0.125fr auto;
}

body.row-gap {
  row-gap: 1.5625rem;
}

main {
  grid-area: pageContent;

  /* Margin & padding */
  margin-bottom: 1.25rem;
  padding: 0 1.5625rem 0 1.25rem;
}

/* Navbar */
nav {
  background-color: #333;
  grid-area: header;
  height: 3.25rem;
  z-index: 1;

  /* Margin & padding */
  padding: 0;
}

.logo {
  height: 100%;
}

#hamburgerCheckbox {
  display: none;
}

#hamburgerIcon {
  display: none;
}

#menu {
  display: inline-block;
  list-style: none;

  /* Margin & padding */
  margin: 0;
  padding: 0;
}

li {
  display: block;
  float: left;
  position: relative;
  transition-duration: 0.5s;
  background-color: #333;

  /* Margin & padding */
  padding: 1rem;
}

li a,
li p {
  color: white;
  text-decoration: none;

  /* Margin & padding */
  margin: 0;
}

li:hover {
  background: rgb(148, 147, 147);
  cursor: pointer;
}

li.active {
  background-color: rgb(83, 83, 83);
}

ul li ul {
  background: #333;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  display: none;

  /* Margin & padding */
  margin-top: 1rem;
  padding: 0;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

/* Styling */
h1 {
  display: none;
}

nav h2 {
  display: none;
}

/* Home - index.html */
.home {
  display: grid;

  column-gap: 2vw;
  grid-template-areas: "product testimonials";
  grid-template-columns: 1fr 1fr;
}

#product {
  /* Grid item */
  grid-area: product;

  /* Grid container */
  display: grid;
  grid-template-areas:
    "overProduct"
    "overMezelf"
    "overKeuze";

  background: #d8d8d8;
  border-radius: 0.625rem;
  height: fit-content;

  /* Margin & padding */
  padding: 1.5625rem 1.5625rem 0.625rem;
}

.overProduct {
  /* Grid item */
  grid-area: overProduct;

  /* Grid container */
  display: grid;
  grid-template-areas: "productImage productTitle";
  grid-template-columns: 1fr 2fr;
  column-gap: 1.5625rem;
}

.productImage {
  grid-area: productImage;

  width: 100%;
  border-radius: 0.625rem;
}

.productTitle {
  grid-area: productTitle;

  /* Margin & padding */
  margin-top: 0.3125rem;

  /* Other styling */
  text-align: left;
}

.productText {
  grid-area: productTitle;

  /* Margin & padding */
  margin-top: 3rem;
}

.overMezelf {
  grid-area: overMezelf;
}

.overKeuze {
  grid-area: overKeuze;
}

.testimonials {
  /* Grid item */
  grid-area: testimonials;
}

.testimonial {
  background-color: white;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem 0 rgb(187, 186, 186);
  border-radius: 0.625rem;

  /* Margin & padding */
  padding: 0.625rem 0.3125rem 0.3125rem 0.9375rem;
  margin: 1.875rem 0.9375rem 1.875rem 0.3125rem;
}

.testimonialName {
  font-style: normal;
  display: inline;
  font-weight: 600;

  /* Margin & padding */
}

.testminonialRating {
  display: inline;

  /* Margin & padding */
  margin-left: 0.625rem;
}

.product h2 {
  display: none;
}

/* Weetjes -> eerste ooit - eersteooit.html */
.inleiding {
  font-style: italic;
}

/* Contacteer ons - contact.html */
main.contact {
  display: grid;

  grid-template-areas: "contactInfo kaart";
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5625rem;

  /* Margin & padding */
  margin: 0;
  padding: 0;
}
.contactInfo {
  grid-area: contactInfo;
  border: none;

  /* Margin & padding */
  padding: 0 0 0 1.25rem;
}
.kaart {
  grid-area: kaart;
}
.kaart iframe {
  width: 100%;
  height: 99%;
  border: none;

  /* Margin & padding */
  padding: 0;
}
.contactInfo dl {
  background: #d8d8d8;
  border-radius: 0.625rem;

  /* Margin & padding */
  margin: 0 1.5625rem 0.625rem 0;
  padding: 0.625rem;
}
.contactInfo dt {
  font-weight: 700;
  width: 50%;

  /* Margin & padding */
  padding: 0;
  margin: 0;
}
.contactInfo dd {
  width: 50%;

  /* Margin & padding */
  padding: 0;
  margin: 0 0 0.625rem 0;
}
.kaart h2 {
  display: none;
}

/* FAQ - faq.html */
.faq-items {
  display: flex;
  flex-flow: row wrap;

  background: #d8d8d8;

  border: solid #d8d8d8;
  border-radius: 0.625rem;
}
.question {
  flex-basis: 20%;

  background: #d8d8d8;
  border-bottom: 1px solid rgb(243, 242, 242);

  font-weight: 600;

  /* Margin & padding */
  padding: 0.4375rem;
}
.answer {
  flex-basis: 70%;
  flex-grow: 1;
  border-bottom: 1px solid rgb(243, 242, 242);

  /* Margin & padding */
  margin: 0;
  padding: 0.4375rem;
}
.question.no-bottom-border,
.answer.no-bottom-border {
  border-bottom: none;
}

/* Productoverzicht & nieuwe collectie - productoverzicht.html & nieuwecollectie.html */
#productoverzicht {
  /* Grids */
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    "header header"
    "filter producten";
  grid-template-rows: 0.125fr auto;
  grid-template-columns: 2.6fr 8fr;

  /* Margin & padding */
  margin: 0;

  /* Font */
  font-family: "Roboto", sans-serif;
}

#nieuwecollectie {
  /* Grids */
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    "header"
    "producten";
  grid-template-rows: 0.125fr auto;

  /* Margin & padding */
  margin: 0;

  /* Font */
  font-family: "Roboto", sans-serif;
}

#filter {
  grid-area: filter;

  /* Margin & padding */
  padding: 0 1.5625rem 0 1.5625rem;
}

.filterLabel {
  background-color: white;
  border-radius: 0.3125rem;
  cursor: pointer;

  /* Margin & padding */
  padding: 0.625rem;
}

label {
  display: block;

  /* Margin & padding */
  margin-bottom: 0.3125rem;
}

.dropdown {
  margin-bottom: 0.625rem;
}

#producten {
  /* Grid item */
  grid-area: producten;
}

#producten > section {
  /* Grid container */
  display: grid;
  grid-template-areas:
    "titel"
    "elektrisch"
    "benzine"
    "lpg";
}

#productenTitel {
  grid-area: titel;
}

#elektrisch {
  /* Grid item */
  grid-area: elektrisch;
}

#benzine {
  /* Grid item */
  grid-area: benzine;
}

#lpg {
  /* Grid item */
  grid-area: lpg;
}

.productCategory > h3 {
  margin-bottom: 0;
}

.productLink {
  display: inline-block;
  width: 16.25rem;
  height: 3.75rem;

  text-decoration: none;
  color: black;

  /* Margin & padding */
  margin-right: 0.625rem;
  margin-bottom: 0.625rem;
}

.product {
  background: white;
  border-radius: 0.625rem;
  box-shadow: 0.125rem 0.125rem 0.3125rem 0 rgb(187, 186, 186);

  width: 100%;
  height: 100%;
}

.productThumbnail {
  position: relative;
  float: left;

  height: 80%;
  top: 10%;

  border-radius: 0.625rem;

  /* Margin & padding */
  margin-left: 0.75rem;
  margin-right: 0.9375rem;
}

.productName {
  /* Margin & padding */
  margin-bottom: 0.3125rem;
  padding-top: 0.625rem;
}

.productPrice {
  margin: 0;
}

/* Filter voor zwart */
input[type="radio"][id="zwart"]:checked ~ section a.bruin,
input[type="radio"][id="zwart"]:checked ~ section a.grijs {
  display: none;
}

/* Filter voor grijs */
input[type="radio"][id="grijs"]:checked ~ section a.zwart,
input[type="radio"][id="grijs"]:checked ~ section a.bruin {
  display: none;
}

/* Filter voor bruin */
input[type="radio"][id="bruin"]:checked ~ section a.zwart,
input[type="radio"][id="bruin"]:checked ~ section a.grijs {
  display: none;
}

/* Filter voor leer */
input[type="radio"][id="leer"]:checked ~ section a.kunstleer,
input[type="radio"][id="leer"]:checked ~ section a.kunststof {
  display: none;
}

/* Filter voor kunstleer */
input[type="radio"][id="kunstleer"]:checked ~ section a.leer,
input[type="radio"][id="kunstleer"]:checked ~ section a.kunststof {
  display: none;
}

/* Filter voor kunststof */
input[type="radio"][id="kunststof"]:checked ~ section a.kunstleer,
input[type="radio"][id="kunststof"]:checked ~ section a.leer {
  display: none;
}

/* Productdetails - detail-xxx.html */
#productdetails {
  /* Grids */
  display: grid;
  grid-template-areas:
    "hoofdInfo afbeelding"
    "extraInfo afbeelding";
  grid-template-rows: 3fr 5fr;
  grid-template-columns: 5fr 5fr;

  /* Margin & padding */
  margin: 0;

  /* Font */
  font-family: "Roboto", sans-serif;
}

#hoofdInfo {
  grid-area: hoofdInfo;
}

#extraInfo {
  grid-area: extraInfo;
}

.tabSwitcherLabel {
  background: rgb(218, 218, 218);
  display: inline-block;
  width: calc(50% - 0.75rem);

  border-radius: 0.625rem 0.625rem 0 0;
  text-align: center;
  font-weight: 600;

  cursor: pointer;

  /* Margin & padding */
  margin-top: 0.9375rem;
  margin-bottom: 0;
  padding: 0.3125rem;
}

/* Tabswitcher - labels kleuren */
input[type="radio"][id="switch-beschrijving"]:checked + label {
  background-color: white;
}

input[type="radio"][id="switch-eigenschappen"]:checked + label {
  background-color: white;
}

/* Tabswitcher - hide non-selected tab */
input[type="radio"][id="switch-beschrijving"]:checked ~ #eigenschappen {
  display: none;
}
input[type="radio"][id="switch-eigenschappen"]:checked
  ~ #uitgebreideBeschrijving {
  display: none;
}

#uitgebreideBeschrijving,
#eigenschappen {
  background-color: white;
  border-radius: 0 0 0.625rem 0.625rem;

  /* Margin & padding */
  padding: 0.3125rem 1.25rem 1.25rem 1.25rem;
}

tr td:first-child {
  font-weight: 600;

  /* Margin & padding */
  padding-right: 1.875rem;
}

#afbeelding {
  grid-area: afbeelding;

  display: flex;
  justify-content: center;
  align-items: center;
}

#afbeelding img {
  max-width: 100%;
  max-height: 50%;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.3125rem 0 rgb(187, 186, 186);
  background-color: white;
}

/* Bestelpagina - personalisering.html */
#bestelFormulier {
  display: grid;

  grid-template-areas: "klantGegevens personalisatie";
  grid-template-columns: 5fr 5fr;

  /* Margin & padding */
  margin-top: 0;
}

#bestelFormulier .required:after {
  content: " *";
  color: red;
}

.bestelKolom {
  border-radius: 0.625rem;
  /* Margin & padding */
  margin: 0 0.625rem 0 0.625rem;
}

.bestelKolom legend {
  background: white;
  border-radius: 0.625rem;
  font-weight: 900;
  width: 98%;

  /* Margin & padding */
  margin-top: 0;
  padding: 0.625rem;
}

.bestelKolom input {
  background: white;
  border-radius: 0.625rem;
  border: none;
  box-shadow: 0 0 0.3125rem 0 rgb(187, 186, 186);
  font-size: 0.8rem;

  /* Margin & padding */
  padding: 0 0.625rem 0 0.625rem;
}

#klantgegevens {
  /* Grid item */
  grid-area: klantGegevens;

  /* Grid display */
  display: grid;
  grid-template-areas:
    "heading heading"
    "lblVoornaam lblAchternaam"
    "txtVoornaam txtAchternaam"
    "lblEmail lblEmail"
    "txtEmail txtEmail"
    "lblTelnr lblTelnr"
    "txtTelnr txtTelnr"
    "lblLeverdatum lblLeverdatum"
    "dtLeverdatum dtLeverdatum"
    "lblStraatnaam lblStraatnaam"
    "txtStraatnaam txtStraatnaam"
    "lblPostcode lblGemeente"
    "txtPostcode txtGemeente"
    "lblLand lblLand"
    "txtLand txtLand"
    "inputHelpland inputHelpland";

  column-gap: 1.25rem;

  height: 75vh;
}

#klantgegevens > h3 {
  grid-area: heading;
}

#lblVoornaam {
  grid-area: lblVoornaam;

  /* Margin & padding */
  margin-top: 0;
}

#lblAchternaam {
  grid-area: lblAchternaam;

  /* Margin & padding */
  margin-top: 0;
}

#txtVoornaam {
  grid-area: txtVoornaam;
}

#txtAchternaam {
  grid-area: txtAchternaam;
}

#lblEmail {
  grid-area: lblEmail;
}

#txtEmail {
  grid-area: txtEmail;
}

#lblTelnr {
  grid-area: lblTelnr;
}

#txtTelnr {
  grid-area: txtTelnr;
}

#lblLeverdatum {
  grid-area: lblLeverdatum;
}

#dtLeverdatum {
  grid-area: dtLeverdatum;
}

#lblStraatnaam {
  grid-area: lblStraatnaam;
}

#txtStraatnaam {
  grid-area: txtStraatnaam;
}

#lblPostcode {
  grid-area: lblPostcode;
}

#lblGemeente {
  grid-area: lblGemeente;
}

#txtPostcode {
  grid-area: txtPostcode;
}

#txtGemeente {
  grid-area: txtGemeente;
}

#lblLand {
  grid-area: lblLand;
}

#txtLand {
  grid-area: txtLand;
}

#inputHelpland {
  grid-area: inputHelpland;
  color: rgb(83, 83, 83);
  font-size: small;

  /* Margin & padding */
  margin-top: 0.3125rem;
}

#personalisatie {
  grid-area: personalisatie;
}

.selectMarkup {
  background: white;
  border: none;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.3125rem 0 rgb(187, 186, 186);
  font-size: 0.8rem;

  /* Margin & padding */
  padding: 0.3125rem;
}

.selectMarkup:focus {
  border-radius: 0.625rem 0.625rem 0 0;
}

.kleurCirkel {
  border-radius: 50%;
  width: 1.5625rem;
  height: 1.5625rem;
  cursor: pointer;
}

#kleurKiezerRood {
  background-color: red;
}

#kleurKiezerGeel {
  background-color: yellow;
}

#kleurKiezerGroen {
  background-color: green;
}

input[type="radio"][id="rood"]:checked + label {
  border: 0.125rem solid black;
}
input[type="radio"][id="geel"]:checked + label {
  border: 0.125rem solid black;
}
input[type="radio"][id="groen"]:checked + label {
  border: 0.125rem solid black;
}

.radioPill {
  background: white;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.3125rem 0 rgb(187, 186, 186);
  cursor: pointer;

  /* Margin & padding */
  margin-right: 0.625rem;
  padding: 0.3125rem 0.625rem;
}

input[type="radio"][name="snelheid"]:checked + label {
  border: 0.125rem solid #a5a5a5;
}

button[type="submit"] {
  border-radius: 0.625rem;
  box-shadow: 0 0 0.3125rem 0 rgb(187, 186, 186);
  background: rgb(147, 250, 147);
  border: none;
  cursor: pointer;

  /* Margin & padding */
  padding: 0.3125rem 1.25rem;
}

button[type="submit"]:hover {
  background: #7b9b6d;
}

/* Screen size lower than 500px */

/* Bestelpagina - checkboxes */
/* The container */
.checkboxContainer {
  display: block;
  position: relative;
  cursor: pointer;

  /* Margin & padding */
  padding-left: 2.1875rem;
  margin-bottom: 0.75rem;
}

.checkboxContainer input {
  display: none;
}

.checkboxContainer:hover input ~ .checkbox {
  background-color: rgba(255, 255, 255, 0.505);
}

/* Create a custom checkbox */
.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background-color: white;
  box-shadow: 0 0 0.3125rem 0 rgb(187, 186, 186);
  border-radius: 0.3125rem;
}

.checkboxContainer input:checked ~ .checkbox {
  background-color: #747474;
}

.checkbox:after {
  content: "";
  position: absolute;
  display: none;

  left: 0.375rem;
  top: 0.125rem;
  width: 0.3125rem;
  height: 0.625rem;
  border: solid white;
  border-width: 0 0.1875rem 0.1875rem 0;
  transform: rotate(45deg);
}

.checkboxContainer input:checked ~ .checkbox:after {
  display: block;
}

/* Overrides */
.no-top-margin {
  margin-top: 0;
}

.mt-10px {
  /* Margin & padding */
  margin-top: 0.625rem;
}

.mt-20px {
  /* Margin & padding */
  margin-top: 1.25rem;
}

.mb-5px {
  /* Margin & padding */
  margin-bottom: 0.3125rem;
}

.hide {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: none;
}

.bolt {
  font-weight: 600;
}

button {
  font-size: 0.8rem;
}

/* Responsive styling with media queries */
/* Grote schermen (en dus ook 4K) ondersteunings */
@media screen and (min-width: 2250px) {
  html {
    font-size: 32px;
  }
}

/* Productdetails anders schikken op iets kleinere dan normale schermen */
@media screen and (max-width: 970px) {
  #productdetails {
    display: grid;
    grid-template-areas: "afbeelding hoofdInfo" "extraInfo extraInfo";
    grid-template-columns: auto;
    grid-template-rows: 2fr 3fr 5fr;
    margin: 0;
    font-family: "Roboto", sans-serif;
  }

  .overProduct {
    grid-template-areas: "productImage" "productTitle";
    grid-template-columns: 1fr;
  }

  .productImage {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25rem;
  }
}

/* Personaliseringspagina, productoverzicht & contact - Minder grote schermen */
@media screen and (max-width: 800px) {
  /* Personalisatiepagina */
  #bestelFormulier {
    grid-template-areas: "klantGegevens" "personalisatie";
    grid-template-columns: auto;
  }

  .bestelKolom:nth-child(2) {
    margin-top: 1.25rem;
  }

  #personalisatie {
    /* Margin & padding */
    margin-bottom: 1.875rem;
  }

  /* Productoverzicht en favorieten pagina */
  #productoverzicht {
    grid-template-areas: "header" "filter" "producten";
    grid-template-rows: 0.125fr auto;
    grid-template-columns: auto;
  }

  #filter {
    /* Grids */
    display: grid;
    grid-template-areas: "filterHeader filterHeader" "filterZadelkleur filterMateriaal";
    grid-template-columns: 1fr 1fr;
  }

  .filterOption {
    margin: 0 0.625rem;
  }

  #filter h2 {
    grid-area: filterHeader;
  }

  #filterZadelkleur {
    grid-area: filterZadelkleur;
  }

  #filterMateriaal {
    grid-area: filterMateriaal;
  }

  .productCategory {
    text-align: center;
  }

  /* Contact pagina */
  main.contact {
    grid-template-areas: "contactInfo" "kaart";
    grid-template-columns: auto;
    grid-template-rows: 45vh 35vh;
  }

  .kaart {
    width: calc(100% - 45px);
    height: 35vh;

    /* Margin & padding */
    margin: 0 1.25rem;
  }

  .kaart iframe {
    border-radius: 0.625rem;
    box-shadow: 0.125rem 0.125rem 0.3125rem 0 rgb(187, 186, 186);
  }
}

/* Hamburger menu - Alles kleiner dan 680px */
@media screen and (max-width: 680px) {
  #menu {
    display: none;
  }

  /* Show hamburger icon */
  #hamburgerIcon {
    display: block;
    float: right;
    cursor: pointer;
    float: right;

    /* Margin & padding */
    padding: 1.5625rem 1.25rem;
  }

  #hamburgerLine {
    background: white;
    display: block;
    height: 0.125rem;
    position: relative;
    width: 1.5rem;
  } /* Style span tag */

  #hamburgerLine::before,
  #hamburgerLine::after {
    background: white;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  #hamburgerLine::before {
    top: 0.3125rem;
  }
  #hamburgerLine::after {
    top: -0.3125rem;
  }

  /* Hamburger menu toggle */
  #hamburgerCheckbox:checked ~ nav {
    max-height: 100%;
  }

  /* Middelste lijn laten verdwijnen */
  #hamburgerCheckbox:checked ~ #hamburgerIcon #hamburgerLine {
    background: transparent;
  }

  /* Bovenste en onderste lijn draaien */
  #hamburgerCheckbox:checked ~ #hamburgerIcon #hamburgerLine::before {
    transform: rotate(-45deg);
    top: 0;
  }
  #hamburgerCheckbox:checked ~ #hamburgerIcon #hamburgerLine::after {
    transform: rotate(45deg);
    top: 0;
  }

  #hamburgerCheckbox:checked ~ #menu {
    display: inline-block;
  }
  /* Menu stylen */
  #menu {
    margin-top: -0.3125rem;
  }

  #menu li {
    width: calc(100% - 2rem);
  }

  #menu li ul {
    position: relative;
    display: block;
    visibility: visible;
    opacity: 1;
  }

  #menu li ul li {
    /* Margin & padding */
    padding: 1rem 0 1rem 1rem;
  }
}

/* Home, productdetails & faq pagina - kleinere schermen */
@media screen and (max-width: 600px) {
  /* Home */
  .home {
    grid-template-areas: "product" "testimonials";
    grid-template-columns: 1fr;
  }

  /* Productdetails */
  #productdetails {
    display: grid;
    grid-template-areas: "hoofdInfo" "extraInfo" "afbeelding";
    grid-template-columns: auto;
    grid-template-rows: 0.5fr 1fr 0.25fr;
    margin: 0;
    font-family: "Roboto", sans-serif;
  }

  #afbeelding {
    align-items: flex-start;
    padding-top: 2.5rem;
  }

  /* FAQ page */
  .question,
  .answer {
    flex-basis: 100%;
  }
}

/* Personaliseringspagina - kleinste schermen*/
@media screen and (max-width: 500px) {
  #klantgegevens {
    grid-template-areas:
      "heading"
      "lblVoornaam"
      "txtVoornaam"
      "lblAchternaam"
      "txtAchternaam"
      "lblEmail"
      "txtEmail"
      "lblTelnr"
      "txtTelnr"
      "lblLeverdatum"
      "dtLeverdatum"
      "lblStraatnaam"
      "txtStraatnaam"
      "lblPostcode"
      "txtPostcode"
      "lblGemeente"
      "txtGemeente"
      "lblLand"
      "txtLand"
      "inputHelpland";
    grid-template-columns: auto;
    grid-template-rows: repeat(20, auto);
  }

  #dtLeverdatum {
    width: auto;
  }

  .bestelKolom input {
    min-height: 1.5rem;
  }
}
